@model ExpenseTracker.Models.Item;
@{
  ViewData["Title"] = "Create";
}
<div class="container col-4  col-md-offset-8 text-center ">
  <h1 class="text-uppercase">@ViewData["Title"]</h1>
  <hr>
   <div class="px-2 px-md-3 text-end"> 
    <p class="">
      <a class="btn btn-outline-primary" asp-action="Index">View Items</a>
    </p>
   </div>

  <form method="post" action="Create">
    <div class="mb-3">
      <label for="Name">Item Name</label>
      <input for="Name" type="text" name="Name" class="form-control">
    </div>
    <div class="mb-3">
      <label for="Price">Price</label>
      <input for="Price" type="number" name="Price" class="form-control">
    </div>
    <div class="mb-3">
      <label for="Description">Description</label>
      <input for="Description" type="text" name="Description" class="form-control">
    </div>
    <div class="mb-3">
      <label for="ItemGroup">Item Group</label>
      <select class="form-select" asp-for="ItemGroupId" asp-items="ViewBag.itemGroup"></select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
</div>
