@model ExpenseTracker.Models.Expenditure;
@{
  ViewData["Title"] = "Create";
}

<div class="container col-4  col-md-offset-8 text-center ">
  <h1 class="text-uppercase">@ViewData["Title"]</h1>
  <hr>
      <a class="btn btn-outline-primary" asp-action="Index">View Expenditure</a>
    </p>
  </div>
  <form action="Create" method="post">
    <div class="mb-3">
      <label for="User">User</label>
      <select class="form-select" asp-for="UserId" asp-items="ViewBag.users">
      </select>
    </div>
    <div class="mb-3">
      <label asp-asp-for="ItemId">Item Name</label><br>
      <select class="form-select" id="itemId" asp-for="ItemId" asp-items="ViewBag.items">
      </select>
    </div>
    <div class="mb-3">
      <label for="Amount">Amount</label>
      <input for="Amount" id="amount" type="number" value="" name="Amount" class="form-control" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
@* scripts *@
<script>
    document.getElementById("itemId").addEventListener("change", function () {
        var itemId = this.value;
        var items = @Html.Raw(Json.Serialize(ViewBag.amount));
        var selectedPrice = items.find(item => item.id == itemId).price;
        document.getElementById("amount").value = selectedPrice;
    });
</script>
