@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(User.IsInRole("admin"))
    {
        <h1 class="display-4">Welcome, Admin</h1>
    }
    @if(User.IsInRole("user"))
    {
        <h1 class="display-4">Welcome, User</h1>
    }
</div>
